# Tracked via git modules
tmux-config/*

# Don't track nixos build output
*nixos/result
result
# This will be different across machines. There's a way to make machine-specific lock files
# although I can't find a good way to do it
./flake.lock
flake.lock

